<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="DjangoFastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\PYTHON27\python.exe|C:\python\Django-ERP\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
    <location path="static">
    </location>
</configuration>
